<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.caly.calyandroid">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:name=".CalyApplication"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!-- Activity Launcher -->
        <activity android:name=".activity.ActivityLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DEBUG Activity -->
        <activity android:name=".activity.DebugActivity">
        </activity>

        <!-- Splash Activity -->
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- Event List Activity -->
        <activity
            android:name=".activity.EventListActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- Guide Activity -->
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- Setting Activity -->
        <activity
            android:name=".activity.LegacySettingActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- Setting Activity -->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- Signup Activity -->
        <activity
            android:name=".activity.SignupActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- Policy Activity -->
        <activity
            android:name=".activity.PolicyActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- AccountAdd Activity -->
        <activity
            android:name=".activity.AccountAddActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- AccountList Activity -->
        <activity
            android:name=".activity.AccountListActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- Announce Activity -->
        <activity
            android:name=".activity.NoticeActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- RecommandList Activity -->
        <activity
            android:name=".activity.RecoListActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- Map Activity -->
        <activity
            android:name=".activity.RecoMapActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- WebView Activity -->
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- Services -->
        <!-- FCM Push Service -->

        <service
            android:name=".service.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".service.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data android:name="DATABASE" android:value="caly.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="io.caly.calyandroid" />


        <!-- TEST -->

        <!-- Test Activity -->
        <activity android:name=".activity.TestActivity">
        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyClIAP-qkUXCV4jGnBBpWDrxAEgo-aqwWQ" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b0c07fcd2ec71e73ed7fe4523cb00a7ce24f91a2" />
    </application>

</manifest>
