<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.caly.calyandroid">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_event_black_48dp"
        android:label="@string/app_name"
        android:name=".CalyApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- Splash Activity -->
        <activity android:name=".Activity.SplashActivity">
        </activity>

        <!-- Login Activity -->
        <activity android:name=".Activity.LoginActivity">

        </activity>

        <!-- Event List Activity -->
        <activity android:name=".Activity.EventListActivity">

        </activity>

        <!-- Guide Activity -->
        <activity android:name=".Activity.GuideActivity">

        </activity>

        <!-- Setting Activity -->
        <activity android:name=".Activity.SettingActivity">

        </activity>

        <!-- Signup Activity -->
        <activity android:name=".Activity.SignupActivity">
        </activity>

        <!-- Policy Activity -->
        <activity android:name=".Activity.PolicyActivity">
        </activity>

        <!-- AccountAdd Activity -->
        <activity android:name=".Activity.AccountAddActivity">

        </activity>

        <!-- AccountList Activity -->
        <activity android:name=".Activity.AccountListActivity">

        </activity>

        <!-- Announce Activity -->
        <activity android:name=".Activity.AnnounceActivity">

        </activity>

        <!-- Services -->

        <!-- FCM Push Service -->

        <service
            android:name=".Service.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".Service.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data android:name="DATABASE" android:value="caly.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="io.caly.calyandroid" />


        <!-- TEST -->

        <!-- Test Activity -->
        <activity android:name=".Activity.TestActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>
